@model MvcPoint.Models.ConsumeOrder
@{
    ViewBag.Title = "快速消费";
}
<link href="../../Content/easyui/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="../../Content/easyui/icon.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/easyui/jquery-1.11.1.js" type="text/javascript"></script>
<script src="../../Scripts/easyui/jquery-easyui-min.js" type="text/javascript"></script>
<script src="../../Scripts/easyui/easyui-lang-zh_CN.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //绑定消费时间
        ReadDateTimeShow();
        $("#btnSearch").click(function () {
            $.getJSON("/MemCard/GetMemCardByM_CardIDOrM_Mobile",
            {
                CardIDOrMobile: $("#CardOrMobile").val(),
                r: Math.random()
            }, function (data) {
                $("#MC_Name").text(data.MemCard.MC_Name);
                $("#MC_ID").val(data.MemCard.MC_ID);
                $("#MC_CardID").val(data.MemCard.MC_CardID);
                $("#CL_LevelName").text(data.CardLevel.CL_LevelName + "(折扣比例：" + data.CardLevel.CL_Percent + ")");
                $("#MC_Point").text(data.MemCard.MC_Point);
                $("#CL_Point").val(data.CardLevel.CL_Point);
                $("#CL_Percent").val(data.CardLevel.CL_Percent);
                $("#MC_TotalMoney").text(data.MemCard.MC_TotalMoney);
            });
        });
        $("#Submit").click(function () {
            if ($("#CO_TotalMoney").val() == "" || $("#CardOrMobile").val() == "") {
                $.messager.alert("提示", "请输入会员卡号/手机号或消费金额", "warning");
                return false;
            }
            else {
                var ConsumeOrder = {
                    MC_ID: $("#MC_ID").val(),
                    MC_CardID: $("#MC_CardID").val(),
                    CO_TotalMoney: $("#CO_TotalMoney").val(),
                    CO_DiscountMoney: $("#CO_DiscountMoney").val(),
                    CO_GavePoint: $("#CO_GavePoint").val()
                };
                $("#ConsumeOrder").val(JSON.stringify(ConsumeOrder));
            }
        });
    });
    //读取动态时间的变化
    function ReadDateTimeShow() {
        var year = new Date().getFullYear();
        var Month = new Date().getMonth() + 1;
        var Day = new Date().getDate();
        var Time = new Date().toLocaleTimeString();
        var AddDate = year + "年" + Month + "月" + Day + "日 " + Time;
        $("#date").text(AddDate);
    }
    //根据消费金额获取折后金额和兑换积分
    function GetDiscountMoneyAndGavePoint() {
        var totleMoney = $("#CO_TotalMoney").val();
        var CL_Point = $("#CL_Point").val();
        var CL_Percent = $("#CL_Percent").val();
        var CO_GavePoint = parseInt(totleMoney / CL_Point);
        $("#CO_DiscountMoney").val(totleMoney * CL_Percent);
        $("#CO_GavePoint").val(CO_GavePoint);
    }
</script>
@using (Html.BeginForm())
{
    <fieldset style="font-size: 12px;">
        <legend>查找会员</legend>
        <table align="left" style="font-size: 12px;">
            <tr>
                <td>
                    卡号/手机：<input id="CardOrMobile" type="text" />
                    <input id="btnSearch" type="button" value="查找" />
                </td>
                <td>
                    消费时间：<span id="date"></span>
                </td>
            </tr>
            <tr>
                <td>
                    姓名：<span id="MC_Name"></span>
                </td>
                <td>
                    等级：<span id="CL_LevelName"></span>
                    <input id="MC_ID" type="hidden" />
                    <input id="MC_CardID" type="hidden" />
                    <input id="CL_Point" type="hidden" />@*积分比例*@
                    <input id="CL_Percent" type="hidden" />@*折扣比例*@
                </td>
            </tr>
            <tr>
                <td>
                    当期积分：<span id="MC_Point" style="color: Red;"></span>
                </td>
                <td>
                    累计消费：￥<span id="MC_TotalMoney"></span>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset style="font-size: 12px;">
        <legend></legend><span style="color: Red;">暂无优惠活动</span>
    </fieldset>
    <table style="font-size: 12px;">
        <tr>
            <td>
                请输入消费金额：
            </td>
            <td>
                <input id="CO_TotalMoney" type="text" onkeyup="GetDiscountMoneyAndGavePoint();" />
            </td>
            <td colspan="2">
                此处输入金额会按会员等级自动打折
            </td>
        </tr>
        <tr>
            <td>
                折后总金额：
            </td>
            <td>
                <input id="CO_DiscountMoney" type="text" readonly="readonly" />
            </td>
            <td>
                可自动累计积分数量：
            </td>
            <td>
                <input id="CO_GavePoint" type="text" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                付费方式：<input id="Radio1" type="radio" checked="checked" />现金支付
            </td>
            <td colspan="2">
                优惠活动：<span style="color: Red;">暂无</span>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend>说明</legend>
        <table style="font-size: 12px;">
            <tr>
                <td>
                    输入实际的消费金额，系统会自动按照会员等级中的设置按照一定比例计算积分并累计到会员账户
                </td>
            </tr>
            <tr>
                <td>
                    在“系统管理”→“会员等级管理”中可设置RMB和积分的兑换比例
                </td>
            </tr>
            <tr>
                <td>
                    在“系统管理”→“会员等级管理”中可设置是否允许直接输入折后总金额
                </td>
            </tr>
            <tr>
                <td>
                    在“系统管理”→“会员等级管理”中可设置是否允许直接输入累计积分数量
                </td>
            </tr>
        </table>
    </fieldset>
    <table>
        <tr>
            <td>
                <input id="Submit" type="submit" value="马上结算" />
                <input id="ConsumeOrder" name="ConsumeOrder" type="hidden" />
            </td>
        </tr>
    </table>
}